*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}
.drawing-content{
    height: 100%;
    width: 100%;
    position: relative;
    border: 2px solid green;
    background-color: white !important;
    color: white !important;
}

#canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border: 1px solid pink ;
}

.side{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.side h1, .side h5{ color: white !important;}