*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}
.drawing-content{
    height: 90%;
    width: 90%;
    position: relative;
    border: 2px solid green;
    background-color: white !important;
    color: white !important;
    z-index: 9;
}

#canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border: 1px solid pink ;
    z-index: 0;
}

.side{
    height: 50%;
    width: 50%;
    position: absolute;
    top: 20;
    left: 45;
}
.side h1, .side h5{ color: white !important;}

.cursor-on{
    cursor: pointer;
}

.cursor-off{
    pointer-events: none;
}